<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/comp.css">
    <title>FELICIDADES</title>
</head>
<body>
    <nav>
        <h4>Tarea Reque</h4>
        <ul>
            <li><a href="/">Log out</a></li>
        </ul>
    </nav>


    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Ha iniciado sesion correctamente!</h1>
            <p class="lead">Hasta aqui llega la pagina, la cual fue creada a fin de una tarea.<br>Esperamos que no haya experimentado problemas.</p>
            <br><br>
            <p>Por favor, da click en la opcion "Log out" para volver a la pantalla de inicio.</p>
            <hr class="my-4">
        </div>
    </div>
</body>
</html>